services:
  nginx:
    image: nginx:1.25-alpine
    container_name: nginx-proxy
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - dnextjs
    networks:
      - appnetwork

  dnextjs:
    build: ./dnextjs
    image: dnextjs:my
    container_name: dnextjs
    expose:
      - "3000"
    networks:
      - appnetwork

networks:
  appnetwork:
    driver: bridge


